HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


# H2 database files
/data/
*.mv.db
*.trace.db

# ===== Database files =====
my-fullstack-project/data/
*.mv.db
*.trace.db

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Node =====
node_modules/

# ===== Build =====
dist/

