nav {
  background-color: #333;
  padding: 1rem;
  margin-bottom: 20px;
}
nav a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover {
  color: #a777e3;
}